{% load static %}

<nav
  class="navbar navbar-expand-md fixed-top navbar-dark pb-1"
  aria-label="Main navigation"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img
        height="50"
        width="36"
        src="{% static 'icons/icon-md.png' %}"
        alt="Circle Logo"
      />
    </a>

    <button
      class="navbar-toggler p-0 border-0"
      type="button"
      id="navbarSideCollapse"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse px-4" id="navbarsDefault">
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Cari"
          aria-label="Cari"
        />
        <button class="btn btn-outline-warning" type="submit">Cari</button>
      </form>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex">
        {% url 'home' as url %}
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == url %}active{% endif %}"
            href="{{ url }}"
            >Beranda</a
          >
        </li>
        {% url 'store:product_list' as url %}
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == url %}active{% endif %}"
            href="{{ url }}"
            >Toko</a
          >
        </li>
        {% url 'promo:promo_list' as url %}
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == url %}active{% endif %}"
            href="{{ url }}"
            >Promo</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://berita.yodu.id" target="_blank">Berita</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Turnamen</a>
        </li>
      </ul>
    
        {% if user.is_authenticated %}
        <div class="dropdown pe-3">
          <button class="btn btn-outline-warning dropdown-toggle" type="button" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
            Profil
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownUser">
            <li><a class="dropdown-item" href="{% url 'account:dashboard' %}">Dashboard</a></li>
            <li><a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a></li>
          </ul>
        </div>
        {% else %}
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account:login' %}">Login | Register</a>
            </li>
          </ul>
        {% endif %}
    </div>
  </div>
  <div>&nbsp;</div>
</nav>

