{% extends "base.html" %}
{% block title %} F.A.Q {% endblock %}
{% block content %}
<div class="section-content">
<div class="container">
<div class="area-content">
<div class="rounded">
<h3 class="text-white">Frequently Asked Question</h3>
<!-- START: Accordion 1 -->
<div class="yd-gap"></div>
<h4 class="text-white">F.A.Q Berbelanja</h4>
<div class="yd-gap-1"></div>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Q : Bagaimana Cara Belanja di YODU Circle?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p><strong>A : </strong>Kunjungi halaman Store yang ada di YODU Circle. Tentukan produk yang ingin kamu beli. Kemudian kamu dapat klik produk yang diinginkan atau melanjutkan pencarian produk yang lain.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Q : Bagaimana cara mengetahui ID dan server karakter saya?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <p><strong>A : </strong>ID atau server yang kamu miliki biasanya bisa diakses di dalam menu profil yang ada di dalam game. Untuk mengakses menu profil kamu bisa menekan gambar profil yang ada di dalam game atau membuka menu pengaturan.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Q : Berapa jumlah denom atau nominal yang bisa saya beli?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p><strong>A : </strong> Pada dasarnya kamu bisa beli denom atau nominal yang kamu inginkan secara bebas. Tapi setiap transaksi hanya bisa membeli satu buah denom atau nominal saja.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Q : Bagaimana caranya saya melakukan pembayaran di YODU Circle?
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p><strong>A : </strong> Kamu bisa melakukan pembayaran di YODU Circle dengan menggunakan YODU E-Money atau metode pembayaran lain yang disediakan oleh YODU Circle.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Q : Bagaimana cara mengunduh YODU E-Money?
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p><strong>A : </strong> YODU E-Money bisa kalian unduh di Google PlayStore Indonesia.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        Q : Bagaimana caranya top up YODU E-Money?
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p><strong>A : </strong> Tata cara top up YODU E-Money bisa kamu simak di bagian top up pada aplikasi YODU E-Money.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEight">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        Q : Apa itu PIN YODU?
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p><strong>A : </strong> Pin YODU merupakan nomor identitas rahasia yang kamu buat ketika membuat ID YODU. Pastikan kode PIN ini bersifat rahasia dan tidak boleh diketahui orang lain. Staff dan admin YODU tidak akan pernah menanyakan nomor PIN atau OTT.</p>
      </div>
    </div>
  </div>
</div>
<div class="yd-gap-2"></div>
<h4 class="text-white">F.A.Q Customer Service</h4>
<div class="yd-gap-1"></div>
<div class="accordion" id="accordionB">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading1">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
        Q : Saya mengalami masalah dalam pembelian YODU Circle. Apa yang harus saya lakukan?
      </button>
    </h2>
    <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordionB">
      <div class="accordion-body">
        <p><strong>A : </strong> Bila kamu mengalami masalah saat menggunakan YODU Circle kamu bisa menghubungi customer support (CS) kami di (021)27932179 atau mengirimkan e-mail ke help@yodu.id.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading2">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
        Q : Apa yang harus saya sertakan dalam laporan masalah?
      </button>
    </h2>
    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionB">
      <div class="accordion-body">
        <p><strong>A : </strong> Kamu bisa menceritakan masalah pada CS kami yang bertugas atau menyertakan screenshot yang dilampirkan pada badan e-mail.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading3">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
        Q : Berapa lama proses penyelesaian masalah di customer support?
      </button>
    </h2>
    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionB">
      <div class="accordion-body">
        <p><strong>A : </strong> Masalah kamu akan ditangani secara langsung oleh customer support kami sehingga kamu akan langsung mendapatkan jawaban atas masalahmu. Kami memberikan jaminan kalau masalah kamu akan kami jawab dan selesaikan dalam waktu 120 jam (maksimal).</p>
      </div>
    </div>
  </div>
</div>
<div class="yd-gap-3"></div>
<div class="text-center">
<h5 class="text-white">Punya pertanyaan lain? silahkan hubungi kami</h5>
<div class="yd-gap"></div>
<a href="{% url 'kontak_kami' %}" class="btn btn-warning">
Hubungi Kami
</a>
</div>
</div>
</div>
</div>
</div>
{% endblock %}