{% extends "base.html" %}
{% block title %} Kontak Kami {% endblock %}
{% block content %}
<div class="section-content">
<div class="container">
<div class="area-content">
    <div class="row">
        <div class="col-md-6">
        <div class="card">
            <div class="card-body">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.2752361059906!2d106.80402941419361!3d-6.2273967627204625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f15016dfa8d5%3A0x1932ce0709d82af4!2sTreasury%20Office%20Tower!5e0!3m2!1sen!2sid!4v1611040086209!5m2!1sen!2sid" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        </div>
        </div>
        <div class="col-md-6">
            <div class="card">
            <div class="card-body">
            <div class="media_list">
                <div class="media">
                    <div class="left_pull">
                        <i class="fa fa-building" style="font-size:1.4rem;"></i>
                    </div>
                    <div class="media_body">
                        <h4 class="media_head" style="color: black;">Office Building</h4>
                        <p class="media_text">
                            SCBD, Gedung Treasury Tower Lt. 29, <br>
                            Kawasan District 8 LOT 28, <br>
                            Jl. Jend. sudirman kav 52-53, RT.5/RW.3, Senayan, Kec. Kebayoran. Baru,<br>
                            Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12190 <br>
                            <strong>(021) 2793 2179</strong>
                        </p>
                    </div>
                </div>
                <div class="media">
                    <div class="left_pull">
                        <i class="fa fa-envelope" style="font-size:1.4rem;"></i>
                    </div>
                    <div class="media_body">
                        <h4 class="media_head" style="color: black;">Customer Services</h4>
                        <p class="media_text">Email : help@yodu.id</p>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}