{% extends "base.html" %}
{% block title %} Syarat Ketentuan {% endblock %}
{% block content %}
<div class="section-content">
<div class="container">
<div class="area-content">
    <div class="row">
        <div class="col-md-12 py-4 paraf-term">
            <div class="card">
            <div class="card-body">
            <h4 class="align-center">Perjanjian Lisensi Pengguna (<em>End-User License Agreement</em>)</h4>
            <p>
                PENTING - BACA DENGAN TELITI. Dengan menginstal, menyalin, atau menggunakan perangkat lunak marketplace <strong>Yodu</strong> (“Yodu Store Apps”), Anda setuju untuk terikat oleh ketentuan EULA ini, termasuk PELEPASAN TANGGUNG JAWAB, PEMBATASAN TANGGUNG JAWAB, dan KETENTUAN PENGHENTIAN. Jika Anda tidak setuju dengan ketentuan dalam EULA ini, jangan menginstall atau menggunakan Yodu Store Apps ini.
            </p>
            <h4>KETENTUAN LISENSI</h4>
            <ol>
                <li>Yodu Store Apps ini diberikan oleh Yodu dan dilisensikan, tidak dijual, di bawah persyaratan EULA dan Yodu memiliki hak sepenuhnya yang tidak diberikan kepada Anda. Yodu adalah pemilik Yodu Store Apps ini.</li>
                <li>Lisensi Yodu Store Apps:</li>
                <ol>
                    <li>Yodu memberikan Anda lisensi untuk menggunakan satu salinan Yodu Store Apps. Anda tidak boleh mengubah atau menonaktifkan lisensi apapun atau fitur yang mengaturnya dalam Yodu Store Apps.</li>
                    <li>Yodu Store Apps ini dilisensikan untuk dioperasikan untuk satu domain/komputer/instansi.</li>
                    <li>Yodu Store Apps ini dilisensikan hanya untuk Anda. Anda tidak boleh menyewa, sub-lisensi, menjual, mengalihkan, menggadaikan, memindahkan atau melepaskan Yodu Store Apps, secara sementara atau permanen, tanpa persetujuan tertulis dari Yodu. (Untuk menghindari keraguan, lisensi ini hanya diberikan kepada satu orang atau perusahaan dan jika lebih dari satu orang atau perusahaan ingin menggunakan Yodu Store Apps, setiap perusahaan harus membeli lisensi terpisah).</li>
                </ol>
                <li>Pembatasan Lisensi:</li>
                <ol>
                    <li>Dengan menerima EULA ini Anda setuju tidak membalikkan, decompile, atau membongkar Yodu Store Apps, kecuali dan hanya sejauh kegiatan tersebut secara tegas diizinkan oleh hukum yang berlaku walaupun ada pembatasan ini.</li>
                    <li>Anda adalah pemegang lisensi eksklusif dari Yodu Store Apps dan berbagi kode sumber Yodu Store Apps dengan individu atau badan merupakan pelanggaran terhadap undang-undang hak cipta dan perjanjian internasional dan menyebabkan penghentian lisensi.</li>
                    <li>Memodifikasi bagian apapun dari kode sumber Yodu Store Apps atau meminta individu atau entitas untuk memodifikasi selain Yodu adalah pelanggaran hukum dan menyebabkan penghentian lisensi.</li>
                    <li>Jika Anda melakukan upgrade Yodu Store Apps ke versi yang lebih tinggi dari Yodu Store Apps ini, EULA ini akan berhenti dan hak-hak Anda akan terbatas pada EULA yang terkait dengan versi yang lebih tinggi.</li>
                </ol>
                <li>Hak Kepemilikan: Semua judul dan hak cipta dalam dan pada Yodu Store Apps (termasuk, tanpa batasan, gambar, foto, animasi, video, audio, musik, teks yang terdapat di dalam Yodu Store Apps), media yang menyertai dan materi cetak, dan setiap salinan Yodu Store Apps adalah milik Yodu. Yodu Store Apps dilindungi oleh hukum dan ketentuan yang berlaku. Oleh karena itu, Anda harus memperlakukan Yodu Store Apps seperti materi berhak cipta dan tunduk pada ketentuan EULA ini.</li>
                <li>Hak Penghentian:</li>
                <ol>
                    <li>Tanpa mengurangi hak-hak lain, Yodu dapat mengakhiri EULA ini jika Anda gagal mematuhi persyaratan dan ketentuan EULA ini. Dalam hal tersebut, Anda harus menghancurkan, menghapus semua salinan Yodu Store Apps dan semua komponennya, dan Yodu dapat menghentikan atau menonaktifkan penggunaan Anda pada Yodu Store Apps dengan atau tanpa pemberitahuan.</li>
                    <li>Yodu dapat mengakhiri EULA ini jika Anda menjadi subyek perintah administrasi; penerima atau penerima administratif atau setara yang ditunjuk, atau pengambilan kepemilikan Anda pada properti atau aset; Anda terlibat dalam kontrak dengan kreditor Anda, Anda berhenti atau terancam untuk berhenti menjalankan bisnis, Anda menjadi bangkrut atau pailit, atau tidak dapat membayar hutang Anda saat jatuh tempo;</li>
                </ol>
                <li>Kontrol Ekspor: Anda tidak boleh mengekspor atau mengekspor kembali Yodu Store Apps atau salinan manapun atau pengadaptasian Yodu Store Apps yang melanggar hukum atau peraturan yang berlaku.</li>
                <li>Yodu tidak menjamin bahwa pengoperasian Yodu Store Apps akan bebas gangguan atau kesalahan. Yodu Store Apps mungkin mengandung fungsi pihak ketiga atau yang dipakai secara kebetulan.</li>
                <li>BATASAN Tanggung Jawab:</li>
                <ol>
                    <li>Yodu tidak bertanggung jawab atas masalah yang diakibatkan dari maintenance atau konfigurasi yang tidak benar; Yodu Store Apps atau antarmuka atau fungsi yang BUKAN dikembangkan oleh Yodu; spesifikasi yang tidak sah untuk Yodu Store Apps; persiapan atau perlengkapan yang tidak benar; Yodu Store Apps beta; mekanisme enkripsi atau rutin.</li>
                    <li>Prosedur pengolahan data yang baik menyatakan bahwa program diuji secara menyeluruh dengan data yang tidak bersifat kritis sebelum menggunakan Yodu Store Apps. Tidak dalam keadaan apapun Yodu atau vendornya bertanggung jawab baik langsung, khusus, kebetulan, akibat (termasuk kerugian atau kehilangan) atau kerusakan lain baik berdasarkan kontrak, kesalahan, atau lainnya maupun jika perwakilan Yodu telah diberitahu kemungkinan kerusakan, atau klaim apapun oleh pihak ketiga.</li>
                </ol>

                <li>Pengajuan: Jika Anda memutuskan untuk mengirimkan informasi ke Yodu dengan cara apapun atau melalui media (termasuk, tanpa batasan, ide, konsep atau teknik untuk layanan), baik sebagai informasi, saran, data, pertanyaan, komentar, atau sejenisnya, Anda setuju pengajuan tersebut tidak dibatasi dan dianggap rahasia dan dianggap non-rahasia dan Anda secara otomatis memberikan Yodu dan wakilnya non-eksklusif, bebas royalti, secara global, abadi, lisensi yang tidak dapat dibatalkan, dengan hak untuk mensublisensikan, untuk menggunakan, menyalin, mengirim, mendistribusikan, membuat karya turunan dari, tampilan, dan hal yang sama.</li>
                <li>Distribusi dan Backup:</li>
                <ol>
                    <li>Kegiatan distribusi dari versi Yodu Store Apps terdaftar merupakan larangan keras dan merupakan pelanggaran hukum yang dapat dihukum dengan hukuman pidana dan/atau perdata.</li>
                    <li>Anda dapat membuat salinan dari versi Yodu Store Apps terdaftar untuk keperluan backup saja. Semua salinan backup harus merupakan salinan yang sama dari Yodu Store Apps yang asli.</li>
                </ol>
                <li>Kebijaksanaan Pengembalian/Refund: Pengembalian dilakukan hanya bila Yodu Store Apps gagal total. Pengembalian tidak dibenarkan untuk masalah server, kekurangan fitur atau server Anda tidak memenuhi permintaan Yodu Store Apps. Pengembalian akan ditentukan secara keadaan individu dan hanya akan diberikan sesudah staf teknis kami menentukan bahwa kesalahan ada pada Yodu yang menyebabkan Yodu Store Apps tidak dapat berjalan pada server Anda. Biaya instalasi tidak dapat dikembalikan dalam kondisi apapun. Pengembalian tidak berlaku setelah 1 bulan dari tanggal pembelian.</li>
                <li>Jika ada ketentuan dari EULA ini dilarang oleh hukum atau ditetapkan oleh pengadilan akan melanggar hukum, batal atau tidak dapat dilaksanakan dari yang ditetapkan EULA ini dan menjadi tidak efektif tanpa modifikasi ketentuan lainnya dari EULA ini dan dengan cara apapun tidak akan mempengaruhi validitas atau ketentuan EULA ini.</li>
                <li>Yodu menyanggupi untuk mematuhi ketentuan Undang-Undang dan peraturan yang berkaitan dengan Yodu Store Apps dan layanan dukungan yang diberikan Yodu kepada Anda. Nama, alamat dan informasi pribadi lain yang Anda berikan kepada Yodu agar Yodu dapat menyediakan Yodu Store Apps dan layanan terkait berhubungan akan disimpan oleh Yodu di dalam sistem komputernya dan mungkin dapat tersedia kepada staf Yodu dan pihak ketiga yang berhubungan agar dapat memberikan Anda layanan yang lengkap. Pihak ketiga yang menerima data pribadi dari Yodu berkewajiban untuk memproses data pribadi sesuai dengan Undang-Undang Perlindungan Data 1998.</li>
                <li>Masing-masing pihak tidak membantah persetujuan bahwa pengadilan di Indonesia memiliki yurisdiksi eksklusif untuk menyelesaikan perselisihan atau gugatan dalam bentuk apapun yang timbul atau sehubungan dengan EULA ini dan tempat efektif EULA ini adalah Indonesia dan hukum negara tersebut yang mengatur perselisihan atau gugatan tersebut</li>
            </ol>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}